<?xml version="1.0" encoding="UTF-8"?>
<configuration strict="true" status="OFF" monitorInterval="30" shutdownHook="disable">

    <Properties>
        <Property name="layout">%d [%t] %-5p %c- %m%n</Property>
    </Properties>

    <appenders>
        <appender type="Console" name="STDOUT">
            <layout type="PatternLayout" pattern="${layout}"/>
        </appender>
    </appenders>

    <loggers>

        <logger name="io.ajmanlove" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>

    </loggers>

</configuration>